.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.details{
    width: 25rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(20, 11, 4);
    border-color: black;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}