<app-title class="title"  title="Cart page" margin="1.5rem 0 0 35rem"></app-title>
<app-not-found
[visible]="!cart || !cart.items.length"
notFoundMessage="Cart Page is empty!"
resetText="Go to Home page!"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
<ul>
    <li *ngFor="let cartItem of cart.items">
     <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
     </div>
     <div>
        <a routerLink="/food/{{cartItem.food.id}}">
            {{cartItem.food.name}}
        </a>
     </div>
     <div>
        <select #quantitySelect
        [value]="cartItem.quantity"
        (change)="changeQuantity(cartItem, quantitySelect.value)">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
       </select>
     </div>
     <div>
        {{cartItem.price | currency:'EUR':'symbol-narrow'}}
     </div>
     <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
            Delete
        </button>
     </div>
    </li>
</ul>
<div class="checkout">
   <div>
      <div class="foods-count">{{cart.totalCount}}</div>
      <div class="total-price">{{cart.totalPrice.toFixed(2)|currency:'EUR':'symbol-narrow'}}</div>
   </div>

   <a routerLink="/checkout">Checkout</a>

</div>
</div>
<app-footer></app-footer>

