.container{
    margin-top: 1rem;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}

.profile{
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 35rem;
    margin-right: 1rem;
}
h3{
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(59, 54, 54);
}

.details{
    margin-bottom: 1rem;
}

.details > div{
    margin: 1rem;
    font-size: 1.1rem;
}

.details strong{
    display: inline-block;
    width: 20%;
    
}